header, footer {padding:100px 100px;}


h6 {padding: 0 100px;}
h1 {text-align: center;}

.wallpaper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 100;
  background: linear-gradient(to right, #fcf885 0%,#a5c956 46%,#5d8e12 100%);
}
.nav-item a{
    margin:0;
    font-size:20px;
    color:#3f888f;
}
a.itd_play {
  display: flex;
  width: 150px;
  height: 50px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  border-radius: 1px;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  transition: 0.2s;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  margin: 30px auto 30px;
}
a.itd_play:hover { background: rgba(255,255,255,.2); }
a.itd_play:active {background: white;}
.itd_triangle {width: 0;
height: 0;
border-style: solid;
border-width: 10px 0 10px 20px;
border-color: transparent transparent transparent white;
transform: rotate(90deg);}

.about {background-color: white;
padding: 50px 0;}

.about i {font-size: 25px; color:#B78EC9;}
.itd_circle {margin: 0 auto 15px;
width: 70px;
height: 70px;
border: 3px solid #B78EC9;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;}

a.rere {
background-color: #B78EC9;
width: 60px;
height: 60px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
margin: 30px auto;
transition: 0.2s;
}

a.rere:hover{background: rgba(255,255,255,.2);}
a.rere:active{background: white;}
header {
  --s: 222px; /* control the size */
  --c1: #7f727b;
  --c2: #d6b4c2;
  --c3: #baa0ab;

  --_g: var(--c1) 10%,var(--c2) 10.5% 19%,#0000 19.5% 80.5%,var(--c2) 81% 89.5%,var(--c3) 90%;
  --_c: from -90deg at 37.5% 50%,#0000 75%;
  --_l1: linear-gradient(145deg,var(--_g));
  --_l2: linear-gradient( 35deg,var(--_g));
  background:
    var(--_l1), var(--_l1) calc(var(--s)/2) var(--s),
    var(--_l2), var(--_l2) calc(var(--s)/2) var(--s),
    conic-gradient(var(--_c),var(--c1) 0) calc(var(--s)/8) 0,
    conic-gradient(var(--_c),var(--c3) 0) calc(var(--s)/2) 0,
    linear-gradient(90deg,var(--c3) 38%,var(--c1) 0 50%,var(--c3) 0 62%,var(--c1) 0);
  background-size: var(--s) calc(2*var(--s)/3);
}

.nebody {
        margin-left:20%;
         margin-right:20%;
}

.button {
            padding: 20px 35px; /* Увеличение размера кнопок */
            margin: 10px;
            font-size: 18px; /* Увеличение размера шрифта */
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
}