.cirleframe{
    height: 250px;
    width: 250px;
    border-radius:50%;
    overflow:hidden;
    border:5px solid #7fb5b5;

}
.cirleframe img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
body{
    background-image:url('image/f.jpg');
    background-size:cover;

}
.profil-info{
    display:flex;
    align-items:center;
    margin-left:7.5%;
    margin-top:25px;
}
.info-user{
    margin-left:20px;

}
.info-user h2{
    margin:0;
    font-size:64px;
    color:#3f888f;
}
.info-user p{
    margin:5px 0;
    font-size:48px;

}
.line{
    margin-top: 50px;
}
.line hr{
    border: none;
    border-top: 6px solid #3f888f;
    width:85%
}
.line h2{
   margin-left:40.7%;
   margin-right:40.5%;
   white-space: nowrap;
}
.pentagram-frame {
    border: 2px solid #333;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 200px;
    overflow:hidden;
    margin-left:10%;
}
.pentagram-frame img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.nav-item a{
    margin:0;
    font-size:32px;
    color:#3f888f;
}
.nav-item dropdown{
    margin-right:20%;
}
footer{
     background-size:cover;
     background-color:white;
}