#roulette {
    width: 500px; /* Установите желаемую ширину */
    height: 500px; /* Установите желаемую высоту */
    border: 1px solid black;
    overflow: hidden;
    position: relative; /* Добавляем для позиционирования изображений */
}

#roulette img {

    position: absolute; /* Позиционируем изображения абсолютно внутри контейнера */
    top: 0;
    left: 0;
    width: 100%; /* Растягиваем изображения на всю ширину контейнера */
    height: 100%; /* Растягиваем изображения на всю высоту контейнера */
    object-fit: cover; /* Обрезаем изображения, чтобы они вписывались в контейнер */
}