<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="profil-info">
        <div class="cirleframe">
	        <img src="{{url_for('static',filename='img/userfoto.jpg')}}" alt="картинка пользовотеля">
        </div>
        <div class="info-user">
            <h2>{{username}}</h2>
            <p>id:{{userid}}</p>
        </div>
        <div class="pentagram-frame">
	        <img src="{{url_for('static',filename='img/userfoto.jpg')}}" alt="картинка пользовотеля">
        </div>
        <div class="pentagram-frame">
	        <img src="{{url_for('static',filename='img/userfoto.jpg')}}" alt="картинка пользовотеля">
        </div>
    </div>
    <div class="line">
        <hr>
        <h2>Ваши предметы</h2>
        <hr>
    </div>
</body>
</html>