<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="static/css1/style.css">
    <link rel="import" href="/header.html">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/643d8d2967.js" crossorigin="anonymous"></script>
    <title>fdfdff</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!--#include file="static/templates/header.html" -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Кейсы</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Главное меню <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cases">Кейсы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profil">Профиль</a>
      </li>
      <li class="nav-item">
          {%if flagau == 1%}
        <a class="nav-link" href="/wallet">Баланс пользователя</a>
          {%endif%}
          {%if flagau == 0%}
          <a id="openModalBtn" class="nav-link" >Баланс пользователя</a>
          {%endif%}
      </li>


    </ul>
    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
    <li class="nav-item dropdown dropleft">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
          <img src="static/img/pprofil.png">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/registr" id="registr">Регистрация</a>
          <a class="dropdown-item" href="/log_in" id="log_in">Авторизация</a>
        </div>
    </li>
</ul>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Находим выпадающее меню
        var dropdownMenu = document.querySelector('.dropdown');

        // Активируем его с помощью Bootstrap метода
        var dropdownInstance = new bootstrap.Dropdown(dropdownMenu);

        // Находим кнопки в выпадающем меню
        var registrButton = document.getElementById('registr');
        var logInButton = document.getElementById('log_in');

        // Добавляем обработчики событий для кликов на кнопках
        registrButton.addEventListener('click', function(event) {
            // Перенаправляем пользователя на страницу регистрации
            window.location.href = '/registr';
        });

        logInButton.addEventListener('click', function(event) {
            // Перенаправляем пользователя на страницу авторизации
            window.location.href = '/log_in';
        });
    });
</script>



 </div>
</nav>
<header>
<div class="container">
    <div class="row">
        <div class="col-12">
        <h1 class="text-center text-white">Кейсы с домашними питомцами</h1>

        <a class="itd_play">К кейсам
        </a>
        <div class="rere"><div class="itd_triangle"></div></div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ошибка пополнения!!!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Вы не автаризованы</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $("#openModalBtn").click(function(){
            $("#myModal").modal();
        });
    });
</script>
</header>

<section class="about" id="cases" data-bs-spy="scroll" data-bs-smooth-scroll="true">
    <div class="container">
        <div class="row">
        <div class="col 12">
            <h2 class="text-center text-uppercase mb-5" style="color:#AF7AC5">О нашем сайте</h2>
        </div>
        </div>
        <div class="row">
        <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="itd_circle"><i class="fa-solid fa-money-bill"></i></div>
            <h5 class="text-center">Удобная оплата</h5>
            <div class="line"></div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="itd_circle"><i class="fa-solid fa-paw"></i></div>
            <h5 class="text-center">Разнообразие пород</h5>
            <div class="line"></div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="itd_circle"><i class="fa-solid fa-xmark"></i></div>
            <h5 class="text-center">Отсутствие рекламы</h5>
            <div class="line"></div>
        </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="row">
        <div class="col 12">
            <h2 class="text-center text-uppercase mb-5" style="color:#AF7AC5">Доступные кейсы</h2>
        </div>
        </div>
        <div class="row">
        <div class="col-xl-4 col-md-6 col-sm-12">
            <h4 class="text-center">Кейс с котами</h4>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-12">
            <h4 class="text-center">Кейс с собаками</h4>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-12">
            <h4 class="text-center">Кейс с ежами</h4>
        </div>
        </div>
    </div>
</section>
<div class="nebody">
    <form action="/button_clicked" method="post">
        {% for i in range(num_buttons) %}
            <button class="button" name="button_id" value="{{ i+1 }}">Кнопка {{ i+1 }}</button>
        {% endfor %}
    </form>
</div>
<div class="container">
  <footer class="text-center text-lg-start bg-body-tertiary text-muted">

      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-2">
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-2">
            Разделы
          </h6>
          <p>
            <a href="/cases" class="text-reset">Кейсы</a>
          </p>
          <p>
            <a href="/wallet" class="text-reset">Баланс пользователя</a>
          </p>
          <p>
            <a href="/profil" class="text-reset">Профиль</a>
          </p>
          <p>
            <a href="/" class="text-reset">Главное меню</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 89</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Links  -->

  </footer>
</div>



</body>
</html>