<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/cases">Кейсы</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Главное меню <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cases">Кейсы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profil">Профиль</a>
      </li>
      <li class="nav-item">
          {% if flagau == 1 %}
        <a class="nav-link" href="/wallet">Баланс пользователя</a>
          {%endif%}
          {% if flagau == 0 %}
          <a id="openModalBtn" class="nav-link" >Баланс пользователя</a>
          {%endif%}
      </li>


    </ul>
    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
    <li class="nav-item dropdown dropleft">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
          <img src="static/img/pprofil.png">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/registr" id="registr">Регистрация</a>
          <a class="dropdown-item" href="/log_in" id="log_in">Авторизация</a>
        </div>
    </li>
</ul>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Находим выпадающее меню
        var dropdownMenu = document.querySelector('.dropdown');

        // Активируем его с помощью Bootstrap метода
        var dropdownInstance = new bootstrap.Dropdown(dropdownMenu);

        // Находим кнопки в выпадающем меню
        var registrButton = document.getElementById('registr');
        var logInButton = document.getElementById('log_in');

        // Добавляем обработчики событий для кликов на кнопках
        registrButton.addEventListener('click', function(event) {
            // Перенаправляем пользователя на страницу регистрации
            window.location.href = '/registr';
        });

        logInButton.addEventListener('click', function(event) {
            // Перенаправляем пользователя на страницу авторизации
            window.location.href = '/log_in';
        });
    });
</script>



 </div>
</nav>


<div class="wallpaper">
    <div class="profil-info">
        <div class="cirleframe">
	        <img src="{{url_for('static',filename='img/userfoto.jpg')}}" alt="картинка пользовотеля">
        </div>
        <div class="info-user">
            <h2>{{username}}</h2>
            <p>id:{{userid}}</p>
        </div>
        <div class="pentagram-frame">
	        <img src="{{url_for('static',filename='img/userfoto.jpg')}}" alt="картинка пользовотеля">
        </div>
        <div class="pentagram-frame">
	        <img src="{{url_for('static',filename='img/userfoto.jpg')}}" alt="картинка пользовотеля">
        </div>
    </div>
    <div class="line">
        <hr>
        <h2 style="color:white">Ваши предметы</h2>
        <hr>
    </div>
</div>
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Главная страница</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Кейсы</a></li>
      <li class="nav-item"><a href="/profil" class="nav-link px-2 text-muted">Профиль</a></li>
      <li class="nav-item"><a href="/wallet" class="nav-link px-2 text-muted">Баланс пользователя</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
  </footer>
</div>
</body>

</html>