<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style1.css">
    <title>Пополнение кошелька</title>
</head>
<body>
<form>
  <label><span class="nmoncd">Сумма пополнения</span><input name="nameoncard" type="text" placeholder="0"></label>
  <label><span class="cdnum">Номер карты <span>(Тире не нужны)</span></span><input name="cardnumber" type="text" placeholder="XXXX-XXXX-XXXX-XXXX"></label>
  <label class="exp"><span class="expdt">Срок годности</span><input name="experationdate" type="text" placeholder="MM/YYYY"></label>
  <label class="cvv"><span class="cvvnum">CVV</span><input name="cvvnumber" type="text" placeholder="XXX"></label>
  <button type="submit">
    Пополнить
  </button>
</form>
</body>
</html>